<html>
    <title><%= title %></title>
    <head>
            <link type="text/css" rel="stylesheet" href="/css/index.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    </head>
    <body>
        <% include ../include/afterlogin/navbar %>
        <h1>Change via dev branch</h1>
        
    </body>
</html>