<div class="topnav">
    <div class="logo_link">LogoLink</div>
    <div class="nav_link">
    <ul>
        <li>Home</li>
        <li>Contact</li>
        <li>About</li>
        <li>Home</li>
        <li>Contact</li>
        <li>About</li>

        <li style="float:right">Register</li>
        <li style="float:right">Login</li>
    </ul>
    </div>
</div>