<html>
    <head>
        <link rel="stylesheet" href="css/about.css">
    </head>
<body>
    <div class="one" style="height: 100%;background: url('content/ticket1.png');background-repeat: no-repeat;    background-position: right; background-size: 50% 130%;">
        <div class="header">
            <div class="Logo-link">Rinkesh Jha</div>
            <div class="top-header" style="padding-left: 150px; padding-top:10px;">
                <ul>
                    <li><a href="" >Home</a></li>
                    <li><a href="">Services</a></li>
                    <li><a href="">Our Partner</a></li>
                    <li><a href="">Signup</a></li>
                    <li><a href="">Login</a></li>
                    <li><a href="">Contact</a></li>
                    <li style="float: right;"><a href="">Login</a></li>
                    <li style="float: right;"><a href="">Sign Up</a></li>
                </ul>
            </div>
        </div>

        <div class="container">
            <div clas="header-text" style="font-size:45px; margin-top:160px; font-weight: 600; padding-left: 120px">
                Best Place to Learn<br>
                New Language
            </div>
            <div style="font-size: 25px; padding-top: 10px; padding-left: 120px; display: inline-block;">
                Exploere One of the Best AI based Language Learning <br> Website with more than 2M Polygloat.<br><br><br>
                <a href="" class="button" style="text-decoration: none; padding:10px 20px 10px 20px;">No String Attached</a></h3> Try it for free
            </div>
        </div>
    </div>

    <div class="container">
        <img src=""/>
    </div>
</body>
</html>