<div class="topnav">
    <div class="logo_link">LogoLink</div>
    <div class="nav_link">
    <ul>
        <li>Dashborad</li>
        <li>Mails</li>
        <li>Credit</li>
        <li>Contacts</li>
        <li>Setting</li>

        <li style="float:right">Logout</li>
    </ul>
    </div>
</div>